.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-bottom: 2px;
    margin: 85px 60px;
}
.cart-container{
    background-color: bisque;
    position: sticky;
    top: 0;
}
@media screen and (max-width:480px) {
    .products-container{
        grid-template-columns:  1fr;
    }
}
/* @media (mix-width:1100px) and (min-width:480px){
    .products-container{
        grid-template-columns: repeat(3,1fr);
    }
} */


